<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Header with Admin Access</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/Content/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
</head>
<body>
    <header class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="menu-wrapper">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="/Home"><img src="/Vendor/assets/img/logo/logo.png" alt=""></a>
                    </div>
                    <!-- Main-menu -->
                    <div class="main-menu d-none d-lg-block">
                        <nav>
                            <ul id="navigation">
                                <li><a href="/Home/Index">Home</a></li>
                                <li><a href="/Home/Shop">Shop</a></li>
                                <li><a href="/Home/About">About</a></li>
                                <li class="hot">
                                    <a href="#">Latest</a>
                                    <ul class="submenu">
                                        <li><a href="/Home/Shop">Product list</a></li>
                                        <li><a href="/Home/ProductDetails">Product Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/Home/Blog">Blog</a>
                                    <ul class="submenu">
                                        <li><a href="/Home/Blog">Blog</a></li>
                                        <li><a href="/Home/BlogDetails">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Pages</a>
                                    <ul class="submenu">
                                        <li><a href="/Login/Login">Login</a></li>
                                        <li><a href="/Login/Register">Register</a></li>
                                        <li><a href="/Cart/Index">Cart</a></li>
                                        <li><a href="/Cart/ProductCheckout">Product Checkout</a></li>
                                    </ul>
                                </li>
                                <li><a href="/Home/Contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Right -->
                    <div class="header-right">
                        <ul>
                            <li>
                                <div class="nav-search search-switch">
                                    <span class="flaticon-search"></span>
                                </div>
                            </li>
                            <li><a href="#" class="flaticon-user"></span></a></li>
                            <li><a href="/Cart/Index"><span class="flaticon-shopping-cart"></span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </header>

    <!-- Modal pentru detalii despre utilizator -->
    <div id="userModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">User Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @{
                        var user = HttpContext.Current.Session["__SessionObject"] as Time_Zone.Domain.Entities.User.UserMinimal;
                        if (user != null)
                        {
                            <p>Logged in as: <strong>@user.Username</strong></p>
                            <p>Role: <strong>@user.Level</strong></p>
                            if (user.Level == Time_Zone.Domain.Enums.LevelAcces.Admin)
                            {
                                <p>Welcome, Admin!</p>
                                <a href="/Admin/Admin" class="btn btn-primary">Go to Admin Page</a>
                            }
                            <a href="/Home/UProfile" class="btn btn-secondary">Change Password</a>
                            <a href="/Login/Logout" class="btn btn-danger">Logout</a>
                        }
                        else
                        {
                            <p>You are not logged in.</p>
                            <a href="/Login/Login" class="btn btn-primary">Login</a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Content/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.js"></script>

    <!-- Custom Script -->
    <script>
        // Script pentru a afișa modalul la clic pe icon-ul utilizator
        $(document).ready(function () {
            $(".flaticon-user").on("click", function (e) {
                e.preventDefault();
                $("#userModal").modal("show");
            });
        });
    </script>
</body>
</html>
